@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.tab-item {
  font-size: 18px !important;
}

@media screen and (max-width: 500px) {
  .tab-item {
    font-size: 11px !important;
  }
}
.tab-items {
  font-size: 18px !important;
}

@media screen and (max-width: 950px) {
  .tab-items {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 700px) {
  .tab-items {
    font-size: 10px !important;
  }
}


